@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100%; /* Changed: 1280px */
  margin: 0;
 

  font-weight: normal;
}



a,
.green {
  text-decoration: none;
  color: rgb(160, 160, 160);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: hsl(0, 0%, 100%);
  }
}

@media (min-width: 1024px) {
  body {
  
   /*  place-items: center; */  /* Changed */
  }

  #app {
    display: flex; /* Changed: grid */
    flex-direction: column; /* Added */
    
    /* grid-template-columns: 1fr; */ /* Changed */
    /*padding: 0 2rem;*/
    /*width:100%;  /* Added */
    
  }
}



