@import './base.css';
@font-face{
  font-family: "neon";
  src: url("./fonts/NeonTubes2-Regular.ttf") format("truetype"), url("./fonts/NeonTubes2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 100%; /* Changed: 1280px */
  margin: 0;
 

  font-weight: normal;
}



a,
.green {
  text-decoration: none;
  color: rgb(160, 160, 160);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: hsl(0, 0%, 100%);
  }
}

@media (min-width: 1024px) {
  body {
   background-color:#212121;
   /*  place-items: center; */  /* Changed */
  }

  #app {
    display: flex; /* Changed: grid */
    flex-direction: column; /* Added */
    
    /* grid-template-columns: 1fr; */ /* Changed */
    /*padding: 0 2rem;*/
    /*width:100%;  /* Added */
    
  }

  .glowbutton{
 
    transition: all 0.2s ease-in-out;
   }
   .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;
    border-color: aliceblue;
    text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.4);;
   }
   
   
   .glow-photo-button:hover{
    color: rgb(49, 49, 49);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;
    border-color: aliceblue;
    text-shadow: 5px 5px 15px rgba(255, 255, 255, 0.4);;
   

    
   }
   h1{
    font-family: "neon";
  }

  button{
    font-family: "neon";
  }
}



